<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle on-toggle="toggled(open)">Utils<span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li><a href="//stripe.codehangar.io/" target="_blank"><strong>Stripe Token Generator</strong> (stripetoken.codehangar)</a></li>
            <li><a onclick="alert('Stay tuned! ReQL Pro will be available for download soon!')"><strong>RethinkDB Client</strong> (rethinkdb.codehangar)</a></li>
            <li><a href="//codehangarchat.herokuapp.com/" target="_blank"><strong>Code Hangar Chat</strong> (chat.codehangar)</a></li>
            <!-- <li><a href="#"><strong>Vid Testing</strong> (vidtesting.codehangar)</a></li> -->
            <li><a href="//community.codehangar.io" target="_blank"><strong>Community</strong> (community.codehangar)</a></li>
          </ul>
        </li>
        <!-- <li class=""><a ui-sref="login">About</a></li> -->
        <li class=""><a href="http://codehangar.io/blog" target="_blank">Blog</a></li>
    </ul>
</div>
<!-- /.navbar-collapse -->
