<!-- HEADER -->
<div ng-include="'components/Header-Utils/index.html'"></div>

<div class="container">
  <div class="row" style="margin:60px 0;">
    <div class="col-sm-12">
      <h1 class="text-center">Code Hangar Utils</h1>
      <p class="lead text-center">Tools for Coders</p>
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="row" style="margin:60px 0;">
    <div class="col-md-6">
      <h2>Stripe Token Generator</h2>
      <p class="lead">Speed up your backend Stripe API integrations. Stripe Token Generator gives you easy access to one-time use Stripe tokens for all of the available Stripe test credit cards.</p>
      <a href="//stripe.codehangar.io/" class="btn btn-primary btn-lg" target="_blank">Take me there!</a>
    </div>
    <div class="col-md-6">
      <img class="pull-right" src="https://stripe.com/img/open-graph/logo.png?2" alt="" style="width:80%;">
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="row" style="margin:60px 0;">
    <div class="col-md-6">
      <img src="http://static1.squarespace.com/static/52f021aee4b0706b2a9f9e0d/t/550205e7e4b06fc17c338c1b/1426195944630/thinker-revised.png" alt="" style="width:80%;">
    </div>
    <div class="col-md-6">
      <h2>ReQL Pro</h2>
      <p class="lead">Browse, view, and modify data from any local or remote RethinkDB. This native application allows you to point and click your way through your data without having to write complicated ReQL queries.</p>
      <a onclick="alert('Stay tuned! ReQL Pro will be available for download soon!')" class="btn btn-primary btn-lg">Gimmee!</a>
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="row" style="margin:60px 0;">
    <div class="col-md-6">
      <h2>Code Hangar Chat</h2>
      <p class="lead">Video chat is an essential tool for distributed teams and Code Hangar Chat makes long video calls way less boring. Secretly snap gifs of your team mates looking silly (for, ya know, funzies) and posts them to a public gif wall shared by your chat group.</p>
      <a href="//codehangarchat.herokuapp.com/" class="btn btn-primary btn-lg" target="_blank">I can haz?</a>
    </div>
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/codehangarchat/e97e5667-e7a9-4412-bdaa-bbcd66ea3539.gif" alt="" style="width:100%;">
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="row" style="margin:60px 0;">
    <!-- <div class="col-md-6">
      <img src="http://placehold.it/400x275" alt="">
    </div> -->
    <div class="col-md-12">
      <h2>community.codehangar</h2>
      <p class="lead"><strong>community.codehangar</strong> raises the bar for tech and developer cultures. Leave ego, machismo, and bad attitudes at the door. We believe that a supportive, judgement free community generates positive results and enables all of its members to achieve greater success.</p>
      <a href="http://community.codehangar.io/" target="_blank" class="btn btn-primary btn-lg">Tell me more!</a>
    </div>
  </div>
</div>
<hr/>
<!-- <div class="container">
  <div class="row" style="margin:60px 0;">
    <div class="col-md-6">
      <img src="http://placehold.it/400x275" alt="">
    </div>
    <div class="col-md-6">
      <h2>Vid Testing</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit rem, quis tempore, animi dolore voluptatibus velit officiis minima, ipsa rerum deserunt, natus id voluptas in. Ut sit aperiam quibusdam vero?</p>
      <a href="" class="btn btn-primary btn-lg">Neato!</a>
    </div>
  </div>
</div>
<hr/> -->

<!-- FOOTER -->
<div ng-include="'components/Footer/Footer.html'"></div>
