<!-- HEADER -->
<div ng-include="'components/Header-Utils/index.html'"></div>

<div class="container-fluid reql-container2">
  <div class="row" style="margin:60px 0;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="text-center"><img src="images/reql-teal-bg.png" alt="ReQL Pro" style="max-width:500px; width:80%; margin:auto;"></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin:40px 0;">
    <div class="col-md-12">
      <h2 class="text-center">Help Center</h2>
      <p class=" text-center">Thanks for checking out ReQLPro. The user guide is coming soon. Until then, please shoot us a message if you have any questions, issues, or suggestions.</p>
      <br>
      <p class="lead text-center"><span class="btn btn-primary btn-lg" ng-click="openHS()">Contact Support</span></p>
    </div>
  </div>
</div>
<!-- <hr/> -->


<!-- <hr> -->
<div footer></div>
