<!-- HEADER -->
<div ng-include="'src/components/Header-Ladies/index.html'"></div>

<div class="container">
  <div class="row" style="margin:60px 0;">
    <h1 class="text-center">community.codehangar</h1>
    <p class="text-center lead">Hello Devs! 😁<br><strong>community.codehangar</strong> is a community that drives balance and diversity in the tech world by supporting women who create software technologies. Our goal is to increase visbility for ladies who code and connect female talent with great opportunities.</p>
    <p class="text-center lead"><a href="http://goo.gl/forms/JNIkIyDwYl" target="_blank" class="btn btn-lg btn-primary">Get involved!</a></p>
  </div>
</div>
<hr>
<div class="container">
  <div class="row" style="margin:60px 0;">
  <h2 class="">Women Who Code @ Orlando Tech Week <br><small>Tuesday, April 19 • 3:00pm - 4:00pm</small></h2>
    <p class="lead">
      weVENTURE Orlando presents Orlando Women Who Code. More and more Orlando companies are seeking female developer talent to bring better products to market. Let’s explore how to fill the pipeline, connect current female talent to great opportunities & help our companies build cultures that attract female talent.
    </p>
    <a href="http://weventure.org/events/2016/04/event-orlando-women-who-code/" target="_blank" class="btn btn-lg btn-primary">Register</a>
  </div>
</div>
<hr>
<div class="container">
  <div class="row" style="margin:60px 0;">
    <h2 class="">Girls Who Code Comes to Orlando This Summer</h2>
    <p class="lead">
      Girls Who Code programs work to inspire, educate, and equip girls with the computing skills to pursue 21st century opportunities. This summer girls in Orlando will have the opportunity to learn about computer science in a fun immersive way at the Melrose center in the Orange County Public Library downtown.
    </p>
    <a href="" class="btn btn-lg btn-primary">Learn More</a>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="jumbotron">
    <h2 class="text-center">Join our Slack Group</h1>
  	<p class="lead text-center">
  		Join the Code Hangar Slack group to connect with like minded code crafters in an environment where its okay to make mistakes and learning through breaking stuff is encouraged.
  	</p>
  	<p class="lead text-center">
  		<a href="https://codehangar-slack.herokuapp.com/" target="_blank" class="btn btn-lg btn-primary">Get my invite</a>
  	</p>
  	
  	</div>
</div>


<!-- HEADER -->
<div ng-include="'src/components/Footer/Footer.html'"></div>
