<!-- HEADER -->
<div ng-include="'components/header/header.html'"></div>

<div class="container-fluid reql-container">
  <div class="row" style="margin:60px 0;">
    <div class="container">

      <div class="row">

        <!-- Art Images -->
        <div class="col-sm-9">
          <div class="text-center">
            <img class="" ng-src="{{vm.installation.photos[0].url}}" alt="mural" style="max-width:80%; max-height: 600px">
          </div>

          <!-- other perspective images -->
          <div class="row">
            <div class="col-sm-9">
              <h3 class="text-uppercase">More Perspectives</h3>
              <img class="thumbnail" ng-repeat="photo in vm.installation.photos" ng-src="{{photo.url}}" />
            </div>
          </div>
        </div>

        <!-- Art Details -->
        <div class="col-sm-3">

          <!-- Title of Art -->
          <div ng-show="vm.installation.title">
            <h2 ng-bind="vm.installation.title"></h2>
            <hr />
          </div>

          <!-- <p>Short Location</p> -->

          <!-- Artist Name -->
          <div ng-show="vm.artist.name">
            <h3 class="text-uppercase">Artist</h3>
            <span class="user-icon-bg">
                <i class="fa fa-user"></i>
            </span>
            <span ng-bind="vm.artist.name"></span>
          </div>

          <!-- Tags -->
          <div ng-show="vm.installation.tags">
            <h3 class="text-uppercase">Tags</h3>
            <span ng-repeat="tag in vm.installation.tags" class="badge tags" ng-bind="tag"></span>
          </div>

          <!-- Location -->
          <div ng-show="vm.installation.address">
            <h3 class="text-uppercase">Location</h3>

            <div id="map" style="height: 200px;"></div>
            <br>
            <p>
              <span ng-bind="vm.installation.address"></span>
            </p>
          </div>

          <!-- Coordinates -->
          <div ng-show="vm.installation.location">
            <h3 class="text-uppercase">Coordinates</h3>
            <a ng-href="http://www.google.com/maps/place/{{vm.installation.location.latitude}},{{vm.installation.location.longitude}}" target="_blank" class="help-text">
              <span ng-bind="vm.installation.location.latitude"></span>,
              <span ng-bind="vm.installation.location.longitude"></span>
            </a>
          </div>


          <div ng-show="vm.installation.location">
            <h3 class="text-uppercase">On Display</h3>
            <p>
              <span>beginning date </span>
              <span>- end date</span>
            </p>
          </div>

        </div>


      </div>

      <hr>

      <div class="row">
        <h1>Nearby Arts</h1>
        <span ng-repeat="installation in vm.installations">
        <a ui-sref="art({id: installation.objectId})">
            <img class="thumbnail nearby-images" ng-src="{{installation.photos[0].url}}">
        </a>
        </span>
      </div>
    </div>
  </div>
</div>


<!-- <hr/> -->


<div class="container-fluid">

</div>

<!-- <hr> -->
<div footer></div>
