<div ng-include="'views/partials/plain_header.html'"></div>
<div class="container">
  <div class="row">

    <!-- Login -->


    <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4" style="margin-top:60px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center">Forgot Password</h3>
          <!-- VALIDATION MESSAGES -->
          <div class="alert alert-danger text-center" ng-if="forgotError" ng-bind="forgotErrorMessage"></div>
          <div class="alert alert-danger text-center" ng-if="formValidationError">Please fix the validation errors below.</div>
          <div class="alert alert-success text-center" ng-if="forgotSuccess">Reset password email successfully sent!</div>

          <form class="form" name="forgotForm">

            <!-- Email -->
            <div class="form-group" bs-form-class="forgotForm.email">
              <label class="control-label" for="email">Email</label>
              <input class="form-control" name="email" type="email" ng-model="email" placeholder="Email" valid-email required/>
              <div ng-messages="forgotForm.email.$error" ng-show="forgotForm.email.$dirty">
                <span ng-messages-include="views/partials/messages.html"></span>
              </div>
            </div>

            <!-- Submit -->
            <button type="submit" class="btn btn-danger warning-theme btn-block btn-lg" ng-click="forgotPassword(email)" ng-disabled="forgotForm.$invalid">Request Reset</button>

          </form>
          <br>
          <span class="text-center">
            <span>New User?</span>
            <a ui-sref="register">Sign Up Here</a>
          </span>
          <br>
          <span class="text-center">
            <span>Already A User?</span>
            <a ui-sref="login">Login Here</a>
          </span>
          
        </div>
      </div>
    </div>

  </div>
  <!--End Row-->
</div>
<!--End container-->

<div ng-include="'views/partials/footer.html'"></div>
