<!-- Newsletter -->
<div class="container-fluid newsletter">
  <div class="row" style="margin:60px 0;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Stay on top of what’s happening at Code Hangar.</h3>
          <p>Sign up to receive monthly updates from the Code Hangar team. </p>

          <!-- Mailchimp Form -->
          <form action="//codehangar.us11.list-manage.com/subscribe/post?u=767255b941bec1f9190cd7f77&amp;amp;id=132870208f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate ng-submit="vm.submit(vm.email)">

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input id="subscribeEmailField" type="text" name="b_767255b941bec1f9190cd7f77_132870208f" tabindex="-1" value="">
            </div>

            <div class="form-group">
              <div class="col-md-4 col-md-offset-3 no-pad-right">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required ng-model="vm.email">
              </div>
              <div class="col-md-2 no-pad-left">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-block btn-primary submit">Sign Up</span>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer-copyright">
  <span class="copyright-text">Copyright © 2015 <a href="http://codehangar.io/" target="_blank">Code Hangar, Inc.</a>. All Rights Reserved.</span>
</footer>
