<!-- HEADER -->
<div ng-include="'src/components/Header/Header.html'"></div>

<div class="container">
  <div class="row">
    <div class="jumbotron">
	  <h1 class="text-center">Hello, dev!</h1>
	  <p class="text-center">Welcome to the Code Hangar base UI project!</p>
	  <!-- <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
	</div>
  </div>
  <div class="row">
  	<div class="col-sm-4 text-center">
      <div class="well">
  		  <i class="fa fa-thumbs-o-up fa-4x"></i>
  		  <h2>Angular 1.x</h2>
      </div>
  	</div>
    <div class="col-sm-4 text-center">
      <div class="well">
        <i class="fa fa-thumbs-o-up fa-4x"></i>
        <h2>Angular UI-Router</h2>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="well">
        <i class="fa fa-thumbs-o-up fa-4x"></i>
        <h2>Angular UI-Bootstrap</h2>
      </div>
    </div>
  	<div class="col-sm-4 text-center">
      <div class="well">
  		  <i class="fa fa-thumbs-o-up fa-4x"></i>
  		  <h2>Font Awesome</h2>
      </div>
  	</div>
  	<div class="col-sm-4 text-center">
      <div class="well">
  		  <i class="fa fa-thumbs-o-up fa-4x"></i>
  		  <h2>Bootstrap-Sass</h2>
      </div>
  	</div>
  </div>
</div>

<!-- Footer -->
<div ng-include="'src/components/Footer/Footer.html'"></div>