@import "./bootstrap-theme-vars";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar{
  margin-bottom:0;
}
.navbar-brand{
   line-height: 32px;
}

.navbar-nav {
  padding: 10px;
  font-size: 1.1em;
}

.navbar-nav > li > a{
  padding: 5px 10px;
}

.navbar-nav .primary {
  border: 2px #fff solid;
  border-radius: 20px;
  margin: 0 5px;
  padding: 4px 10px;
}

.navbar-nav .primary:hover {
    border: 2px rgba(255,255,255,.5) solid;
}

.hero{
  height: 100vh;
  background: url('./images/StreetArtOrlando_Logo_0.png') center center no-repeat;
  background-size:cover;
}

.thumbnail {
  max-height: 200px;
  max-width: 200px;
}

.nearby-images {
  display: inline
}

.tags {
  margin-right: 5px
}

.copyright-text {
  margin-left: 30px;
  line-height: 60px;
}

@media(max-width:767px){
.hero{
  height: 50vh;
}
}
@media(min-width:768px){
}
@media(min-width:992px){}
@media(min-width:1200px){}
