@import "/bootstrap-codehangar-vars";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$brand-teal: #2aa198;

.navbar-default{
  margin-bottom:0;
}

.no-pad-right {
  padding-right: 0
}

.no-pad-left {
  padding-left: 0
}

p {
  font-weight: 200;
}

.alt-container{
  background: #f9f9f9;
}

.reql-container, .reql-container2{
  background: $brand-teal;
  color:#fff;
  .btn-primary{
    background: #fff;
    color: $brand-teal;
    border: 3px #fff solid;
    &:hover{
      color: #fff;
      background: $brand-teal;
    }
  }
  .btn-default{
    background: $brand-teal;
    color: #fff;
    border: 3px #fff solid;
    &:hover{
      color: $brand-teal;
      background: #fff;
    }
  }
}

.newsletter {
  margin-top: 50px;
  background: $gray-dark;
  color: #fff;
  p {
    color: $gray
  }
  .submit {
    // width: 10%;
  }
}

.footer-copyright {
  background: $gray-darker;
  height: 60px;
  font-size: $font-size-small
}

.copyright-text {
  margin-left: 30px;
  line-height: 60px;
}


@media(max-width:767px){
}
@media(min-width:768px){
  .reql-container .text-center{
    text-align: left;
  }
}
@media(min-width:992px){}
@media(min-width:1200px){}
