.global-country-ad{ padding-left: 19px; background: url(../../../country/fam/ad.png) no-repeat center left;}
.global-country-ae{ padding-left: 19px; background: url(../../../country/fam/ae.png) no-repeat center left;}
.global-country-af{ padding-left: 19px; background: url(../../../country/fam/af.png) no-repeat center left;}
.global-country-ag{ padding-left: 19px; background: url(../../../country/fam/ag.png) no-repeat center left;}
.global-country-ai{ padding-left: 19px; background: url(../../../country/fam/ai.png) no-repeat center left;}
.global-country-al{ padding-left: 19px; background: url(../../../country/fam/al.png) no-repeat center left;}
.global-country-am{ padding-left: 19px; background: url(../../../country/fam/am.png) no-repeat center left;}
.global-country-an{ padding-left: 19px; background: url(../../../country/fam/an.png) no-repeat center left;}
.global-country-ao{ padding-left: 19px; background: url(../../../country/fam/ao.png) no-repeat center left;}
.global-country-ar{ padding-left: 19px; background: url(../../../country/fam/ar.png) no-repeat center left;}
.global-country-as{ padding-left: 19px; background: url(../../../country/fam/as.png) no-repeat center left;}
.global-country-at{ padding-left: 19px; background: url(../../../country/fam/at.png) no-repeat center left;}
.global-country-au{ padding-left: 19px; background: url(../../../country/fam/au.png) no-repeat center left;}
.global-country-aw{ padding-left: 19px; background: url(../../../country/fam/aw.png) no-repeat center left;}
.global-country-ax{ padding-left: 19px; background: url(../../../country/fam/ax.png) no-repeat center left;}
.global-country-az{ padding-left: 19px; background: url(../../../country/fam/az.png) no-repeat center left;}
.global-country-ba{ padding-left: 19px; background: url(../../../country/fam/ba.png) no-repeat center left;}
.global-country-bb{ padding-left: 19px; background: url(../../../country/fam/bb.png) no-repeat center left;}
.global-country-bd{ padding-left: 19px; background: url(../../../country/fam/bd.png) no-repeat center left;}
.global-country-be{ padding-left: 19px; background: url(../../../country/fam/be.png) no-repeat center left;}
.global-country-bf{ padding-left: 19px; background: url(../../../country/fam/bf.png) no-repeat center left;}
.global-country-bg{ padding-left: 19px; background: url(../../../country/fam/bg.png) no-repeat center left;}
.global-country-bh{ padding-left: 19px; background: url(../../../country/fam/bh.png) no-repeat center left;}
.global-country-bi{ padding-left: 19px; background: url(../../../country/fam/bi.png) no-repeat center left;}
.global-country-bj{ padding-left: 19px; background: url(../../../country/fam/bj.png) no-repeat center left;}
.global-country-bm{ padding-left: 19px; background: url(../../../country/fam/bm.png) no-repeat center left;}
.global-country-bn{ padding-left: 19px; background: url(../../../country/fam/bn.png) no-repeat center left;}
.global-country-bo{ padding-left: 19px; background: url(../../../country/fam/bo.png) no-repeat center left;}
.global-country-br{ padding-left: 19px; background: url(../../../country/fam/br.png) no-repeat center left;}
.global-country-bs{ padding-left: 19px; background: url(../../../country/fam/bs.png) no-repeat center left;}
.global-country-bt{ padding-left: 19px; background: url(../../../country/fam/bt.png) no-repeat center left;}
.global-country-bv{ padding-left: 19px; background: url(../../../country/fam/bv.png) no-repeat center left;}
.global-country-bw{ padding-left: 19px; background: url(../../../country/fam/bw.png) no-repeat center left;}
.global-country-by{ padding-left: 19px; background: url(../../../country/fam/by.png) no-repeat center left;}
.global-country-bz{ padding-left: 19px; background: url(../../../country/fam/bz.png) no-repeat center left;}
.global-country-ca{ padding-left: 19px; background: url(../../../country/fam/ca.png) no-repeat center left;}
.global-country-cc{ padding-left: 19px; background: url(../../../country/fam/cc.png) no-repeat center left;}
.global-country-cd{ padding-left: 19px; background: url(../../../country/fam/cd.png) no-repeat center left;}
.global-country-cf{ padding-left: 19px; background: url(../../../country/fam/cf.png) no-repeat center left;}
.global-country-cg{ padding-left: 19px; background: url(../../../country/fam/cg.png) no-repeat center left;}
.global-country-ch{ padding-left: 19px; background: url(../../../country/fam/ch.png) no-repeat center left;}
.global-country-ci{ padding-left: 19px; background: url(../../../country/fam/ci.png) no-repeat center left;}
.global-country-ck{ padding-left: 19px; background: url(../../../country/fam/ck.png) no-repeat center left;}
.global-country-cl{ padding-left: 19px; background: url(../../../country/fam/cl.png) no-repeat center left;}
.global-country-cm{ padding-left: 19px; background: url(../../../country/fam/cm.png) no-repeat center left;}
.global-country-cn{ padding-left: 19px; background: url(../../../country/fam/cn.png) no-repeat center left;}
.global-country-co{ padding-left: 19px; background: url(../../../country/fam/co.png) no-repeat center left;}
.global-country-cr{ padding-left: 19px; background: url(../../../country/fam/cr.png) no-repeat center left;}
.global-country-cs{ padding-left: 19px; background: url(../../../country/fam/cs.png) no-repeat center left;}
.global-country-cu{ padding-left: 19px; background: url(../../../country/fam/cu.png) no-repeat center left;}
.global-country-cv{ padding-left: 19px; background: url(../../../country/fam/cv.png) no-repeat center left;}
.global-country-cx{ padding-left: 19px; background: url(../../../country/fam/cx.png) no-repeat center left;}
.global-country-cy{ padding-left: 19px; background: url(../../../country/fam/cy.png) no-repeat center left;}
.global-country-cz{ padding-left: 19px; background: url(../../../country/fam/cz.png) no-repeat center left;}
.global-country-de{ padding-left: 19px; background: url(../../../country/fam/de.png) no-repeat center left;}
.global-country-dj{ padding-left: 19px; background: url(../../../country/fam/dj.png) no-repeat center left;}
.global-country-dk{ padding-left: 19px; background: url(../../../country/fam/dk.png) no-repeat center left;}
.global-country-dm{ padding-left: 19px; background: url(../../../country/fam/dm.png) no-repeat center left;}
.global-country-do{ padding-left: 19px; background: url(../../../country/fam/do.png) no-repeat center left;}
.global-country-dz{ padding-left: 19px; background: url(../../../country/fam/dz.png) no-repeat center left;}
.global-country-ec{ padding-left: 19px; background: url(../../../country/fam/ec.png) no-repeat center left;}
.global-country-ee{ padding-left: 19px; background: url(../../../country/fam/ee.png) no-repeat center left;}
.global-country-eg{ padding-left: 19px; background: url(../../../country/fam/eg.png) no-repeat center left;}
.global-country-eh{ padding-left: 19px; background: url(../../../country/fam/eh.png) no-repeat center left;}
.global-country-er{ padding-left: 19px; background: url(../../../country/fam/er.png) no-repeat center left;}
.global-country-es{ padding-left: 19px; background: url(../../../country/fam/es.png) no-repeat center left;}
.global-country-et{ padding-left: 19px; background: url(../../../country/fam/et.png) no-repeat center left;}
.global-country-fi{ padding-left: 19px; background: url(../../../country/fam/fi.png) no-repeat center left;}
.global-country-fj{ padding-left: 19px; background: url(../../../country/fam/fj.png) no-repeat center left;}
.global-country-fk{ padding-left: 19px; background: url(../../../country/fam/fk.png) no-repeat center left;}
.global-country-fm{ padding-left: 19px; background: url(../../../country/fam/fm.png) no-repeat center left;}
.global-country-fo{ padding-left: 19px; background: url(../../../country/fam/fo.png) no-repeat center left;}
.global-country-fr{ padding-left: 19px; background: url(../../../country/fam/fr.png) no-repeat center left;}
.global-country-ga{ padding-left: 19px; background: url(../../../country/fam/ga.png) no-repeat center left;}
.global-country-gb{ padding-left: 19px; background: url(../../../country/fam/gb.png) no-repeat center left;}
.global-country-gd{ padding-left: 19px; background: url(../../../country/fam/gd.png) no-repeat center left;}
.global-country-ge{ padding-left: 19px; background: url(../../../country/fam/ge.png) no-repeat center left;}
.global-country-gf{ padding-left: 19px; background: url(../../../country/fam/gf.png) no-repeat center left;}
.global-country-gh{ padding-left: 19px; background: url(../../../country/fam/gh.png) no-repeat center left;}
.global-country-gi{ padding-left: 19px; background: url(../../../country/fam/gi.png) no-repeat center left;}
.global-country-gl{ padding-left: 19px; background: url(../../../country/fam/gl.png) no-repeat center left;}
.global-country-gm{ padding-left: 19px; background: url(../../../country/fam/gm.png) no-repeat center left;}
.global-country-gn{ padding-left: 19px; background: url(../../../country/fam/gn.png) no-repeat center left;}
.global-country-gp{ padding-left: 19px; background: url(../../../country/fam/gp.png) no-repeat center left;}
.global-country-gq{ padding-left: 19px; background: url(../../../country/fam/gq.png) no-repeat center left;}
.global-country-gr{ padding-left: 19px; background: url(../../../country/fam/gr.png) no-repeat center left;}
.global-country-gs{ padding-left: 19px; background: url(../../../country/fam/gs.png) no-repeat center left;}
.global-country-gt{ padding-left: 19px; background: url(../../../country/fam/gt.png) no-repeat center left;}
.global-country-gu{ padding-left: 19px; background: url(../../../country/fam/gu.png) no-repeat center left;}
.global-country-gw{ padding-left: 19px; background: url(../../../country/fam/gw.png) no-repeat center left;}
.global-country-gy{ padding-left: 19px; background: url(../../../country/fam/gy.png) no-repeat center left;}
.global-country-hk{ padding-left: 19px; background: url(../../../country/fam/hk.png) no-repeat center left;}
.global-country-hm{ padding-left: 19px; background: url(../../../country/fam/hm.png) no-repeat center left;}
.global-country-hn{ padding-left: 19px; background: url(../../../country/fam/hn.png) no-repeat center left;}
.global-country-hr{ padding-left: 19px; background: url(../../../country/fam/hr.png) no-repeat center left;}
.global-country-ht{ padding-left: 19px; background: url(../../../country/fam/ht.png) no-repeat center left;}
.global-country-hu{ padding-left: 19px; background: url(../../../country/fam/hu.png) no-repeat center left;}
.global-country-id{ padding-left: 19px; background: url(../../../country/fam/id.png) no-repeat center left;}
.global-country-ie{ padding-left: 19px; background: url(../../../country/fam/ie.png) no-repeat center left;}
.global-country-il{ padding-left: 19px; background: url(../../../country/fam/il.png) no-repeat center left;}
.global-country-in{ padding-left: 19px; background: url(../../../country/fam/in.png) no-repeat center left;}
.global-country-io{ padding-left: 19px; background: url(../../../country/fam/io.png) no-repeat center left;}
.global-country-iq{ padding-left: 19px; background: url(../../../country/fam/iq.png) no-repeat center left;}
.global-country-ir{ padding-left: 19px; background: url(../../../country/fam/ir.png) no-repeat center left;}
.global-country-is{ padding-left: 19px; background: url(../../../country/fam/is.png) no-repeat center left;}
.global-country-it{ padding-left: 19px; background: url(../../../country/fam/it.png) no-repeat center left;}
.global-country-jm{ padding-left: 19px; background: url(../../../country/fam/jm.png) no-repeat center left;}
.global-country-jo{ padding-left: 19px; background: url(../../../country/fam/jo.png) no-repeat center left;}
.global-country-jp{ padding-left: 19px; background: url(../../../country/fam/jp.png) no-repeat center left;}
.global-country-ke{ padding-left: 19px; background: url(../../../country/fam/ke.png) no-repeat center left;}
.global-country-kg{ padding-left: 19px; background: url(../../../country/fam/kg.png) no-repeat center left;}
.global-country-kh{ padding-left: 19px; background: url(../../../country/fam/kh.png) no-repeat center left;}
.global-country-ki{ padding-left: 19px; background: url(../../../country/fam/ki.png) no-repeat center left;}
.global-country-km{ padding-left: 19px; background: url(../../../country/fam/km.png) no-repeat center left;}
.global-country-kn{ padding-left: 19px; background: url(../../../country/fam/kn.png) no-repeat center left;}
.global-country-kp{ padding-left: 19px; background: url(../../../country/fam/kp.png) no-repeat center left;}
.global-country-kr{ padding-left: 19px; background: url(../../../country/fam/kr.png) no-repeat center left;}
.global-country-kw{ padding-left: 19px; background: url(../../../country/fam/kw.png) no-repeat center left;}
.global-country-ky{ padding-left: 19px; background: url(../../../country/fam/ky.png) no-repeat center left;}
.global-country-kz{ padding-left: 19px; background: url(../../../country/fam/kz.png) no-repeat center left;}
.global-country-la{ padding-left: 19px; background: url(../../../country/fam/la.png) no-repeat center left;}
.global-country-lb{ padding-left: 19px; background: url(../../../country/fam/lb.png) no-repeat center left;}
.global-country-lc{ padding-left: 19px; background: url(../../../country/fam/lc.png) no-repeat center left;}
.global-country-li{ padding-left: 19px; background: url(../../../country/fam/li.png) no-repeat center left;}
.global-country-lk{ padding-left: 19px; background: url(../../../country/fam/lk.png) no-repeat center left;}
.global-country-lr{ padding-left: 19px; background: url(../../../country/fam/lr.png) no-repeat center left;}
.global-country-ls{ padding-left: 19px; background: url(../../../country/fam/ls.png) no-repeat center left;}
.global-country-lt{ padding-left: 19px; background: url(../../../country/fam/lt.png) no-repeat center left;}
.global-country-lu{ padding-left: 19px; background: url(../../../country/fam/lu.png) no-repeat center left;}
.global-country-lv{ padding-left: 19px; background: url(../../../country/fam/lv.png) no-repeat center left;}
.global-country-ly{ padding-left: 19px; background: url(../../../country/fam/ly.png) no-repeat center left;}
.global-country-ma{ padding-left: 19px; background: url(../../../country/fam/ma.png) no-repeat center left;}
.global-country-mc{ padding-left: 19px; background: url(../../../country/fam/mc.png) no-repeat center left;}
.global-country-md{ padding-left: 19px; background: url(../../../country/fam/md.png) no-repeat center left;}
.global-country-mg{ padding-left: 19px; background: url(../../../country/fam/mg.png) no-repeat center left;}
.global-country-mh{ padding-left: 19px; background: url(../../../country/fam/mh.png) no-repeat center left;}
.global-country-mk{ padding-left: 19px; background: url(../../../country/fam/mk.png) no-repeat center left;}
.global-country-ml{ padding-left: 19px; background: url(../../../country/fam/ml.png) no-repeat center left;}
.global-country-mm{ padding-left: 19px; background: url(../../../country/fam/mm.png) no-repeat center left;}
.global-country-mn{ padding-left: 19px; background: url(../../../country/fam/mn.png) no-repeat center left;}
.global-country-mo{ padding-left: 19px; background: url(../../../country/fam/mo.png) no-repeat center left;}
.global-country-mp{ padding-left: 19px; background: url(../../../country/fam/mp.png) no-repeat center left;}
.global-country-mq{ padding-left: 19px; background: url(../../../country/fam/mq.png) no-repeat center left;}
.global-country-mr{ padding-left: 19px; background: url(../../../country/fam/mr.png) no-repeat center left;}
.global-country-ms{ padding-left: 19px; background: url(../../../country/fam/ms.png) no-repeat center left;}
.global-country-mt{ padding-left: 19px; background: url(../../../country/fam/mt.png) no-repeat center left;}
.global-country-mu{ padding-left: 19px; background: url(../../../country/fam/mu.png) no-repeat center left;}
.global-country-mv{ padding-left: 19px; background: url(../../../country/fam/mv.png) no-repeat center left;}
.global-country-mw{ padding-left: 19px; background: url(../../../country/fam/mw.png) no-repeat center left;}
.global-country-mx{ padding-left: 19px; background: url(../../../country/fam/mx.png) no-repeat center left;}
.global-country-my{ padding-left: 19px; background: url(../../../country/fam/my.png) no-repeat center left;}
.global-country-mz{ padding-left: 19px; background: url(../../../country/fam/mz.png) no-repeat center left;}
.global-country-na{ padding-left: 19px; background: url(../../../country/fam/na.png) no-repeat center left;}
.global-country-nc{ padding-left: 19px; background: url(../../../country/fam/nc.png) no-repeat center left;}
.global-country-ne{ padding-left: 19px; background: url(../../../country/fam/ne.png) no-repeat center left;}
.global-country-nf{ padding-left: 19px; background: url(../../../country/fam/nf.png) no-repeat center left;}
.global-country-ng{ padding-left: 19px; background: url(../../../country/fam/ng.png) no-repeat center left;}
.global-country-ni{ padding-left: 19px; background: url(../../../country/fam/ni.png) no-repeat center left;}
.global-country-nl{ padding-left: 19px; background: url(../../../country/fam/nl.png) no-repeat center left;}
.global-country-no{ padding-left: 19px; background: url(../../../country/fam/no.png) no-repeat center left;}
.global-country-np{ padding-left: 19px; background: url(../../../country/fam/np.png) no-repeat center left;}
.global-country-nr{ padding-left: 19px; background: url(../../../country/fam/nr.png) no-repeat center left;}
.global-country-nu{ padding-left: 19px; background: url(../../../country/fam/nu.png) no-repeat center left;}
.global-country-nz{ padding-left: 19px; background: url(../../../country/fam/nz.png) no-repeat center left;}
.global-country-om{ padding-left: 19px; background: url(../../../country/fam/om.png) no-repeat center left;}
.global-country-pa{ padding-left: 19px; background: url(../../../country/fam/pa.png) no-repeat center left;}
.global-country-pe{ padding-left: 19px; background: url(../../../country/fam/pe.png) no-repeat center left;}
.global-country-pf{ padding-left: 19px; background: url(../../../country/fam/pf.png) no-repeat center left;}
.global-country-pg{ padding-left: 19px; background: url(../../../country/fam/pg.png) no-repeat center left;}
.global-country-ph{ padding-left: 19px; background: url(../../../country/fam/ph.png) no-repeat center left;}
.global-country-pk{ padding-left: 19px; background: url(../../../country/fam/pk.png) no-repeat center left;}
.global-country-pl{ padding-left: 19px; background: url(../../../country/fam/pl.png) no-repeat center left;}
.global-country-pm{ padding-left: 19px; background: url(../../../country/fam/pm.png) no-repeat center left;}
.global-country-pn{ padding-left: 19px; background: url(../../../country/fam/pn.png) no-repeat center left;}
.global-country-pr{ padding-left: 19px; background: url(../../../country/fam/pr.png) no-repeat center left;}
.global-country-ps{ padding-left: 19px; background: url(../../../country/fam/ps.png) no-repeat center left;}
.global-country-pt{ padding-left: 19px; background: url(../../../country/fam/pt.png) no-repeat center left;}
.global-country-pw{ padding-left: 19px; background: url(../../../country/fam/pw.png) no-repeat center left;}
.global-country-py{ padding-left: 19px; background: url(../../../country/fam/py.png) no-repeat center left;}
.global-country-qa{ padding-left: 19px; background: url(../../../country/fam/qa.png) no-repeat center left;}
.global-country-re{ padding-left: 19px; background: url(../../../country/fam/re.png) no-repeat center left;}
.global-country-ro{ padding-left: 19px; background: url(../../../country/fam/ro.png) no-repeat center left;}
.global-country-ru{ padding-left: 19px; background: url(../../../country/fam/ru.png) no-repeat center left;}
.global-country-rw{ padding-left: 19px; background: url(../../../country/fam/rw.png) no-repeat center left;}
.global-country-sa{ padding-left: 19px; background: url(../../../country/fam/sa.png) no-repeat center left;}
.global-country-sb{ padding-left: 19px; background: url(../../../country/fam/sb.png) no-repeat center left;}
.global-country-sc{ padding-left: 19px; background: url(../../../country/fam/sc.png) no-repeat center left;}
.global-country-sd{ padding-left: 19px; background: url(../../../country/fam/sd.png) no-repeat center left;}
.global-country-se{ padding-left: 19px; background: url(../../../country/fam/se.png) no-repeat center left;}
.global-country-sg{ padding-left: 19px; background: url(../../../country/fam/sg.png) no-repeat center left;}
.global-country-sh{ padding-left: 19px; background: url(../../../country/fam/sh.png) no-repeat center left;}
.global-country-si{ padding-left: 19px; background: url(../../../country/fam/si.png) no-repeat center left;}
.global-country-sj{ padding-left: 19px; background: url(../../../country/fam/sj.png) no-repeat center left;}
.global-country-sk{ padding-left: 19px; background: url(../../../country/fam/sk.png) no-repeat center left;}
.global-country-sl{ padding-left: 19px; background: url(../../../country/fam/sl.png) no-repeat center left;}
.global-country-sm{ padding-left: 19px; background: url(../../../country/fam/sm.png) no-repeat center left;}
.global-country-sn{ padding-left: 19px; background: url(../../../country/fam/sn.png) no-repeat center left;}
.global-country-so{ padding-left: 19px; background: url(../../../country/fam/so.png) no-repeat center left;}
.global-country-sr{ padding-left: 19px; background: url(../../../country/fam/sr.png) no-repeat center left;}
.global-country-st{ padding-left: 19px; background: url(../../../country/fam/st.png) no-repeat center left;}
.global-country-sv{ padding-left: 19px; background: url(../../../country/fam/sv.png) no-repeat center left;}
.global-country-sy{ padding-left: 19px; background: url(../../../country/fam/sy.png) no-repeat center left;}
.global-country-sz{ padding-left: 19px; background: url(../../../country/fam/sz.png) no-repeat center left;}
.global-country-tc{ padding-left: 19px; background: url(../../../country/fam/tc.png) no-repeat center left;}
.global-country-td{ padding-left: 19px; background: url(../../../country/fam/td.png) no-repeat center left;}
.global-country-tf{ padding-left: 19px; background: url(../../../country/fam/tf.png) no-repeat center left;}
.global-country-tg{ padding-left: 19px; background: url(../../../country/fam/tg.png) no-repeat center left;}
.global-country-th{ padding-left: 19px; background: url(../../../country/fam/th.png) no-repeat center left;}
.global-country-tj{ padding-left: 19px; background: url(../../../country/fam/tj.png) no-repeat center left;}
.global-country-tk{ padding-left: 19px; background: url(../../../country/fam/tk.png) no-repeat center left;}
.global-country-tl{ padding-left: 19px; background: url(../../../country/fam/tl.png) no-repeat center left;}
.global-country-tm{ padding-left: 19px; background: url(../../../country/fam/tm.png) no-repeat center left;}
.global-country-tn{ padding-left: 19px; background: url(../../../country/fam/tn.png) no-repeat center left;}
.global-country-to{ padding-left: 19px; background: url(../../../country/fam/to.png) no-repeat center left;}
.global-country-tr{ padding-left: 19px; background: url(../../../country/fam/tr.png) no-repeat center left;}
.global-country-tt{ padding-left: 19px; background: url(../../../country/fam/tt.png) no-repeat center left;}
.global-country-tv{ padding-left: 19px; background: url(../../../country/fam/tv.png) no-repeat center left;}
.global-country-tw{ padding-left: 19px; background: url(../../../country/fam/tw.png) no-repeat center left;}
.global-country-tz{ padding-left: 19px; background: url(../../../country/fam/tz.png) no-repeat center left;}
.global-country-ua{ padding-left: 19px; background: url(../../../country/fam/ua.png) no-repeat center left;}
.global-country-ug{ padding-left: 19px; background: url(../../../country/fam/ug.png) no-repeat center left;}
.global-country-um{ padding-left: 19px; background: url(../../../country/fam/um.png) no-repeat center left;}
.global-country-us{ padding-left: 19px; background: url(../../../country/fam/us.png) no-repeat center left;}
.global-country-uy{ padding-left: 19px; background: url(../../../country/fam/uy.png) no-repeat center left;}
.global-country-uz{ padding-left: 19px; background: url(../../../country/fam/uz.png) no-repeat center left;}
.global-country-va{ padding-left: 19px; background: url(../../../country/fam/va.png) no-repeat center left;}
.global-country-vc{ padding-left: 19px; background: url(../../../country/fam/vc.png) no-repeat center left;}
.global-country-ve{ padding-left: 19px; background: url(../../../country/fam/ve.png) no-repeat center left;}
.global-country-vg{ padding-left: 19px; background: url(../../../country/fam/vg.png) no-repeat center left;}
.global-country-vi{ padding-left: 19px; background: url(../../../country/fam/vi.png) no-repeat center left;}
.global-country-vn{ padding-left: 19px; background: url(../../../country/fam/vn.png) no-repeat center left;}
.global-country-vu{ padding-left: 19px; background: url(../../../country/fam/vu.png) no-repeat center left;}
.global-country-wf{ padding-left: 19px; background: url(../../../country/fam/wf.png) no-repeat center left;}
.global-country-ws{ padding-left: 19px; background: url(../../../country/fam/ws.png) no-repeat center left;}
.global-country-ye{ padding-left: 19px; background: url(../../../country/fam/ye.png) no-repeat center left;}
.global-country-yt{ padding-left: 19px; background: url(../../../country/fam/yt.png) no-repeat center left;}
.global-country-za{ padding-left: 19px; background: url(../../../country/fam/za.png) no-repeat center left;}
.global-country-zm{ padding-left: 19px; background: url(../../../country/fam/zm.png) no-repeat center left;}
.global-country-zw{ padding-left: 19px; background: url(../../../country/fam/zw.png) no-repeat center left;}